/* @import "~tailwindcss/base"; */
/* @import "~tailwindcss/components"; */
/* @import "~tailwindcss/utilities"; */

body{
    font-family:"UD デジタル 教科書体 NK-B","Yu Mincho、游明朝";
}

/* ヘッダー */
header{
  height:200px;
}

.header-logo{
  display:block;
  float:left;
}

header li{
    float:right;
    list-style:none;
    margin:80px 25px;
    background-color:#5FC7D6;
    text-decoration:none;
    width:150px;
    font-size:20px;
    font-family:"UD デジタル 教科書体 NK-B","Yu Mincho、游明朝";
    border-radius:10px;
    line-height: 2;
    padding: 10px 20px;
    color:#fff;
}



/* フッター */
.footer-logo{
  height:70px;
  width:200px;
  display:block;
  float:left;
}

.copy{
  font-size:15px;
  padding:25px;
}

/* ランディングページ */
 .top-wrapper{
  height:700px;
  background-image:url(/landing.jpg);
  background-size:cover;
  color:#FFF;
  padding:100px;
 }

 

 .landing-step h3 {
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2rem 1.5rem 120px;
    border-top: 3px solid #198008;
  }
  
  .landing-step h3:before {
    position: absolute;
    top: -150%;
    left: -100px;
    width: 190px;
    height: 300%;
    content: '';
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    background: #198008;
  }
  
  .landing-step h3 span {
    font-size: 28px;
    font-size: 2rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    padding-top: 3px;
    padding-left: 16px;
    color: #fff;
  }

  /* ログイン新規登録共通*/
  
 .mail{
    background-color:#D9D9D9;
    border:none;
    padding:10px;
    margin:10px auto;
    display:block;
    width:300px;
 }

 .pass{
    background-color:#D9D9D9;
    border:none;
    padding:10px;
    margin:10px auto;
    display:block;
    width:300px;
 }

  /* ログインページ */
 .form-login{
    text-aligin:center;
 }

 .btn-login {
    background-color:#5FC7D6;
    border:none;
    width:200px;
    height:40px;
    font-size:20px;
    font-family:"UD デジタル 教科書体 NK-B","Yu Mincho、游明朝";
    border-radius:10px;
    margin:60px;
    color:#FFF;
  }

  /* 新規登録ページ */
 .form-register{
    text-aligin:center;
 }

 .btn-register {
    background-color:#5FC7D6;
    border:none;
    width:200px;
    height:40px;
    font-size:20px;
    font-family:"UD デジタル 教科書体 NK-B","Yu Mincho、游明朝";
    border-radius:10px;
    margin:60px;
    color:#FFF;
  }

  /* 基本情報登録画面 */
  .form-update{
    display:inline-block;
  }

  .upin{
    background-color:#D9D9D9;
    border:none;
    padding:10px;
    margin:10px auto;
    display:block;
    width:300px;
  }

  .twitter{
    background-color:#D9D9D9;
    border:none;
    padding:10px;
    margin:10px auto;
    display:block;
    width:300px;
  }

  .btn-update{
    background-color:#5FC7D6;
    border:none;
    width:200px;
    height:40px;
    font-size:20px;
    font-family:"UD デジタル 教科書体 NK-B","Yu Mincho、游明朝";
    border-radius:10px;
    margin:60px;
    color:#FFF;
  }

  /* 本の登録(編集)画面 */
  .edit-id{
    height:100%;
  }

  .link-search{
    background-color:#5FC7D6;
    border:none;
    display:block;
    text-aligin:center;
    width:250px;
    height:40px;
    font-size:20px;
    font-family:"UD デジタル 教科書体 NK-B","Yu Mincho、游明朝";
    border-radius:10px;
    margin:0 auto;
    color:#FFF;
    text-decoration:none;
    line-height: 2;
    padding: 10px 15px;
  }


  .link-check{
    background-color:#5FC7D6;
    border:none;
    display:block;
    text-aligin:center;
    width:250px;
    height:40px;
    font-size:20px;
    font-family:"UD デジタル 教科書体 NK-B","Yu Mincho、游明朝";
    border-radius:10px;
    margin:0 auto;
    color:#FFF;
    text-decoration:none;
    line-height: 2;
    padding: 10px 15px;
  }

  .h3-editid{
    color:#808080;
    /* text-aligin:center; */
  }

  .h2-title{
    font-size:20px;
  }

  .h3-author{
    font-size:18px;
  }

  .item-comment{
    background-color:#062E94;
    height:50px;
    width:100px;
    color:#FFF;
    padding:10px;
    border-radius:5px;
  }




   /* 本の検索画面 */
  
/* コメントを追加画面 */
.card {
  flex-direction: row;
}
/* .card img {
  width: 30%;
} */

  /* 名刺プレビュー画面 */

  /* 名刺画面 */
